.article {
    flex: 1 0 calc(100% - 250px - 2em);
    padding: 0 1em;

    &__content {
        max-width: $contentMaxWidth;
        margin: 0 auto 0 auto;
        line-height: 1.6;
        word-break: break-word;
        padding-bottom: 2em;
        border-bottom: 1px $grey-light solid;

        @media (max-width: $mobileBreakPoint) {
            margin-bottom: 2em;
        }

        h1 {
            font-size: 2.5em;
            border-bottom: 1px $grey-light solid;
        }

        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }

        a {
            color: $red;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__footer {
        max-width: $contentMaxWidth;
        margin: 2em auto 8em auto;
        font-size: 80%;
        color: $grey-dark;

        table {
            td {
                min-width: 80px;
            }
        }
    }
}
