html {
    height: 100%;
}

body {
    height: 100%;
    font-family: $font-family;
    font-size: 20px;
    margin: 0;
}

pre {
    white-space: pre-line;
    font-size: 80%;
    background: $grey-very-light;
    padding: 1em;
}

// Indicate external link
a[href^='http']:after {
    position: relative;
    content: ' ↗️';
    font-size: 65%;
    vertical-align: text-bottom;
    filter: hue-rotate(144deg);
    z-index: -1;
}

.page-container {
    display: flex;
    justify-content: stretch;

    @media (max-width: $mobileBreakPoint) {
        display: block;
    }
}
