.menu {
    position: relative;
    flex: 1 0 $menuMaxWidth;
    background-color: $menuBackgroundColor;
    color: $menuForegroundColor;
    font-size: 85%;
    max-width: $menuMaxWidth;
    padding: 0.5em 0;

    & a,
    & a:hover,
    & a:visited {
        color: $menuForegroundColor;
        text-decoration: none;
    }

    & a:hover {
        color: $menuForegroundColor;
        text-decoration: underline;
    }

    & ul {
        list-style: none;
        padding: 0;

        & > li {
            display: block;
            margin: 0.5em 0;
        }
    }

    &__main-title {
        display: block;
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: 0.75em;
    }

    &__sub-title {
        display: block;
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 1.5em;
        margin-bottom: 0;
    }

    &__content {
        position: fixed;
        width: calc(250px - 2em);
        height: 98vh;
        overflow-y: auto;
        background-color: $menuBackgroundColor;
        padding: 0 1em 1em 1em;

        &::-webkit-scrollbar {
            width: 6px;
            background-color: $menuBackgroundColor;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $grey-dark;
        }

        @media (max-width: $mobileBreakPoint) {
            top: 20px;
            left: 0;
            padding: 1em;
            width: calc(100% - 2em) !important;
        }
    }

    @media (max-width: $mobileBreakPoint) {
        transform: translateX(-100vw);
        flex: 1 0 100%;
        max-width: 100%;

        &--active {
            transform: translateX(0);
        }
    }
}
