$mobileBreakPoint: 1000px;
$contentMaxWidth: 768px;
$menuMaxWidth: 250px;

$font-family: 'Tinos', serif;

$grey-very-light: #e4e4e4;
$grey-light: #c7c7c7;
$grey-dark: #666;
$red: #ff2300;

$menuBackgroundColor: #000;
$menuForegroundColor: #fff;
